{
  "source": {
    "directories": [
      "src"
    ]
  },
  "logs": {
    "text": "infection.log",
    "stryker": {
      "badge": "1.3.x"
    }
  },
  "mutators": {
    "@default": true
  },
  "minMsi": 59,
  "minCoveredMsi": 91,
  "testFrameworkOptions": "--testsuite=unit"
}
