{
  "source": {
    "directories": [
      "src"
    ]
  },
  "logs": {
    "text": "infection.log",
    "badge": {
      "branch": "1.2.x"
    }
  },
  "mutators": {
    "@default": true
  },
  "minMsi": 59,
  "minCoveredMsi": 89,
  "testFrameworkOptions": "--testsuite=unit"
}
