includes:
	- phpstan-baseline.neon
	- vendor/phpstan/phpstan-phpunit/extension.neon
	- vendor/phpat/phpat/extension.neon
	- vendor/patchlevel/event-sourcing-phpstan-extension/extension.neon

parameters:
	level: max
	paths:
		- src
		- tests
	ignoreErrors:
		-
			identifier: missingType.generics
	reportUnmatchedIgnoredErrors: false

services:
	-
		class: Patchlevel\EventSourcing\Tests\Architecture\FinalClassesTest
		tags:
			- phpat.test

	-
		class: Patchlevel\EventSourcing\Tests\Architecture\LayerDependenciesTest
		tags:
			- phpat.test
