<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        bootstrap="tests/bootstrap.php"
        forceCoversAnnotation="false"
        beStrictAboutTestsThatDoNotTestAnything="true"
        beStrictAboutOutputDuringTests="true"
        beStrictAboutTodoAnnotatedTests="true"
        beStrictAboutChangesToGlobalState="true"
        failOnRisky="true"
        failOnWarning="true"
        verbose="true"
        colors="true"
>
    <testsuites>
        <testsuite name="unit">
            <directory>./tests/Unit</directory>
        </testsuite>
        <testsuite name="integration">
            <directory>./tests/Integration</directory>
        </testsuite>
    </testsuites>

    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">src</directory>
        </include>
        <report>
            <html outputDirectory="./coverage"/>
        </report>
    </coverage>

    <php>
        <env name="COLUMNS" value="120"/>
        <env name="DB_URL" value="sqlite:///:memory:"/>
        <ini name="error_reporting" value="E_ALL"/>
    </php>
</phpunit>
