:root > * {
    --md-code-hl-number-color: #6897BB;
    --md-code-hl-special-color: #6b7280;
    --md-code-hl-function-color: #ca8a04;
    --md-code-hl-constant-color: #9333ea;
    --md-code-hl-keyword-color: #c2410c;
    --md-code-hl-string-color: #15803d;
    --md-code-hl-name-color: #991b1b;
    --md-code-hl-operator-color: #6b7280;
    --md-code-hl-punctuation-color: #6b7280;
    --md-code-hl-comment-color: #15803d;
    --md-code-hl-generic-color: #b91c1c;
    /*--md-code-hl-variable-color: #7c3aed;*/

    --md-code-fg-color--dark: #f1f5f9;
    --md-code-bg-color--dark: #2B2B2B;
    --md-code-hl-color--dark: #b91c1c;

    --md-code-fg-color--light: #2B2B2B;
    --md-code-bg-color--light: #f8fafc;
    --md-code-hl-color--light: #b91c1c;
}

p {
    margin-block-start: 2em;
    margin-block-end: 2em;
}

.md-typeset code {
    padding: .2em .4em;
    font-size: .9em;
    line-height: 1.8;
}

.admonition-title {
    margin-bottom: -1em !important;
}