# yaml-language-server: $schema=https://squidfunk.github.io/mkdocs-material/schema.json

site_url: https://event-sourcing.patchlevel.io/
repo_url: https://github.com/patchlevel/event-sourcing
repo_name: patchlevel/event-sourcing
edit_uri: edit/2.0.x/docs/pages/
docs_dir: pages
site_name: Event Sourcing for PHP
site_description: An event sourcing library for php, complete with all the essential features, powered by the reliable Doctrine ecosystem and focused on developer experience.
site_author: patchlevel

extra:
  meta:
    image: img/patchlevel-banner.png
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/patchlevel
    - icon: fontawesome/solid/globe
      link: https://patchlevel.de
  version:
    provider: mike
    alias: true
  analytics:
    provider: custom

extra_css:
  - stylesheets/extra.css

theme:
  name: material
  custom_dir: overrides
  logo: assets/logo.png
  favicon: assets/favicon.png
  features:
    - navigation.sections
    - navigation.top
    - navigation.indexes
    - navigation.footer
    - content.code.annotate
    - content.code.copy
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: black
      accent: blue
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: black
      accent: blue
      toggle:
        icon: material/brightness-4
        name: Switch to light mode

plugins:
  - mike:
      canonical_version: latest

markdown_extensions:
  - meta
  - pymdownx.highlight:
      anchor_linenums: true
      extend_pygments_lang:
        - name: php
          lang: php
          options:
            startinline: true
  - pymdownx.inlinehilite
  - pymdownx.snippets:
      auto_append:
        - docs/includes/links.md
  - admonition
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg
  - def_list
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format

nav:
  - Introduction: index.md
  - Getting Started: getting_started.md
  - Basics:
    - Aggregate: aggregate.md
    - Events: events.md
    - Repository: repository.md
    - Message: message.md
    - Store: store.md
    - Subscription: subscription.md
    - Event Bus:  event_bus.md
  - Advanced:
    - Aggregate ID: aggregate_id.md
    - Normalizer: normalizer.md
    - Snapshots: snapshots.md
    - Personal Data: personal_data.md
    - Upcasting: upcasting.md
    - Message Decorator: message_decorator.md
    - Split Stream: split_stream.md
    - Time / Clock: clock.md
    - Testing: testing.md
    - CLI: cli.md
  - Upgrade from 2.x: UPGRADE-3.0.md
  - Links:
    - Symfony Bundle: https://patchlevel.github.io/event-sourcing-bundle-docs/latest/
    - Admin Bundle: https://github.com/patchlevel/event-sourcing-admin-bundle
    - Psalm Plugin: https://github.com/patchlevel/event-sourcing-psalm-plugin
    - Hydrator: https://github.com/patchlevel/hydrator

validation:
  omitted_files: warn
  absolute_links: warn  # Or 'relative_to_docs' - new in MkDocs 1.6
  unrecognized_links: warn
  #anchors: warn