# https://help.github.com/en/categories/automating-your-workflow-with-github-actions

name: "Mutation tests on diff"

on:
    pull_request:

jobs:
    mutation-tests-diff:
        name: "Mutation tests on diff"

        runs-on: ${{ matrix.operating-system }}

        strategy:
            matrix:
                dependencies:
                    - "locked"
                php-version:
                    - "8.3"
                operating-system:
                    - "ubuntu-latest"

        steps:
            - name: "Checkout"
              uses: actions/checkout@v4
              with:
                fetch-depth: 0

            - name: "Install PHP"
              uses: "shivammathur/setup-php@2.29.0"
              with:
                  coverage: "pcov"
                  php-version: "${{ matrix.php-version }}"
                  ini-values: memory_limit=-1
                  extensions: pdo_sqlite

            - uses: ramsey/composer-install@2.2.0
              with:
                  dependency-versions: ${{ matrix.dependencies }}

            - name: "Infection"
              run: "vendor/bin/roave-infection-static-analysis-plugin --git-diff-lines --git-diff-base=origin/$GITHUB_BASE_REF --ignore-msi-with-no-mutations --only-covered --min-msi=80 --min-covered-msi=95"
