# https://help.github.com/en/categories/automating-your-workflow-with-github-actions

name: "Mutation tests"

on:
    pull_request:
    push:
        branches:
            - "[0-9]+.[0-9]+.x"
            - "renovate/*"

jobs:
    mutation-tests:
        name: "Mutation tests"

        runs-on: ${{ matrix.operating-system }}

        strategy:
            matrix:
                dependencies:
                    - "locked"
                php-version:
                    - "8.3"
                operating-system:
                    - "ubuntu-latest"

        steps:
            - name: "Checkout"
              uses: actions/checkout@v4

            - name: "Install PHP"
              uses: "shivammathur/setup-php@2.29.0"
              with:
                  coverage: "pcov"
                  php-version: "${{ matrix.php-version }}"
                  ini-values: memory_limit=-1
                  extensions: pdo_sqlite

            - uses: ramsey/composer-install@3.0.0
              with:
                dependency-versions: ${{ matrix.dependencies }}

            - name: "Infection"
              run: "vendor/bin/roave-infection-static-analysis-plugin"
              env:
                  STRYKER_DASHBOARD_API_KEY: ${{ secrets.STRYKER_DASHBOARD_API_KEY }}
